{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailcore_tags %}
{% load static %}
{% block extra_css %}
{# Override this in templates to add extra stylesheets #}
<style>
    .carousel {
        margin-top: 20px;
    }
    .owl-carousel {
        margin: 0 auto;
        width: 70vw;
    }
    .owl-carousel img {
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }
    @media (max-width: 768px) {
        .carousel {
            width: 90vw;
        }
    }
</style>
{% endblock %}

{% block content %}
    <div>
        <h1>{{ page.title }}</h1>
        {% if page.carousel_images %}
            <div class="carousel owl-carousel owl-theme">
                {% for image in page.carousel_images.all %}
                    <a href="#"><img src="{{ image.get_rendition('fill-700x300').img_tag }}" alt="{{ image.caption }}"/></a>
                {% endfor %}
            </div>
        
        {% endif %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel/2.3.4/owl.carousel.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.carousel').owlCarousel({
                    autoplay: true,
                    autoplayTimeout: 2000,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                });
            });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const carrousel = document.querySelector('.carousel');
                if (carrousel) {
                    carrousel.addEventListener('click', function(e) {
                        e.preventDefault();
                        const target = e.target;
                        if (target.tagName === 'IMG') {
                            const src = target.src;
                            const alt = target.alt;
                            const img = document.createElement('img');
                            img.src = src;
                            img.alt = alt;
                            document.body.appendChild(img);
                        }
                    });
                }
            });



        </script>
        {% image page.image fill-480x320 %}
        <p>{{ page.hero_text }}</p>
        {% if page.hero_cta_link %}
        <a href="{% pageurl page.hero_cta_link %}">
            {% firstof page.hero_cta page.hero_cta_link.title %}
            </a>
        {% endif %}
    </div>
    .
    <p class="rich-text">
                   {{self.body | richtext}}
               </p>

{% endblock content %}