

{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% load wagtailcore_tags %}

<style>
    .footer {
        background-color: #000;
        color: white;

    }
</style>
<footer 
id="footer"
class="footer row"
role="contentinfo"
style="height: 20vh;"
    >
    <div class="d-flex flex-wrap justify-content-between p-3">
        <div class="footer-wedget-one col-12 col-md-3">
            <div class="inner-box">
                <div class=" footer-wedget-two col-12 col-md-4">
                    <img src="{% static 'img/logo-blanco.png' %}" alt="Indam" class="img-fluid"><br>

                    <p >SERVICIOS INFORMÁTICOS PARTICULARES Y EMPRESAS</p>
                </div>
            </div>        
        </div>
        <div class="footer-wedget-two col-12 col-md-3">
            <h2>Nosotros</h2>
            <p>INDAM Es Una Empresa De Servicios Informáticos Que Opera En Toda La Comunidad De Aragón. Con Una Amplia Experiencia, Dando Soluciones De Una Forma Rápida Y Eficaz</p>
        </div>
        <div class="footer-wedget-three col-12 col-md-3">
            <h2>Menú</h2>

            <ul>
                <li><a href="{% slugurl  'nosotros' %}">Nosotros</a></li>
                <li><a href="{% slugurl  'servicio' %}">Servicios</a></li>
                <li><a href="{% slugurl  'contactarnos' %}">Contacto</a></li>
            </ul>
        </div>
        <div class="footer-wedget-four col-12 col-md-3">
            <h2>Contactar</h2>
            <div class="inner-box">
                <div class="media">
                    <div class="media-body">
                        <span class="inner-text">Tauste, Zaragoza</span>
                    </div>           
                    <div class="media-right">
                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                    </div>                           
                </div>
                <div class="media">
                    <div class="media-body">
                        <span class="inner-text">dam@indam.es</span>
                    </div>           
                    <div class="media-right">
                        <span class="icon"><i class="fa fa-envelope-o"></i></span>
                    </div>                           
                </div>
                <div class="media">
                    <div class="media-body">
                        <span class="inner-text">+34 609 075 592</span>
                    </div>           
                    <div class="media-right">
                        <span class="icon"><i class="fa fa-phone"></i></span>
                    </div>                           
                </div>                    
            </div>        
        </div>        
    </div>
   
</footer>

<script>
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    // Get back to top button
    var backToTopButton = document.querySelector('.botn_up');
    
    // Add event listener to back to top button
    backToTopButton.addEventListener('click', scrollToTop);

    // Get footer element
    var footer = document.getElementById('footer');
    
    // Style footer for fixed positioning at the bottom
    footer.style.position = 'fixed';
    footer.style.bottom = '0';
    footer.style.left = '0';
    footer.style.right = '0';
    footer.style.background = '#072948';
    footer.style.color = '#fff';
    footer.style.padding = '0px 0';
    footer.style.textAlign = 'center';
// Función para verificar si se ha hecho scroll
</script>