<header class="header bg-blue-500 text-white py-4">
    <div class="container mx-auto flex justify-between items-center "
     class="row">
        
        <div class="header-left column-iqz-50">
            <ul>
                <li><i class="icofont-envelope-open"></i> dam@indam.es</li>
                <li><i class="icofont-map-pins"></i> Tauste, Zaragoza</li>
            </ul>
        </div>

        <!-- Header Right -->
        <div class="header-right column-derech-50" id="header-right">
            <div class="office-number">
                <ul>
                    <li><span>Llámanos</span> 609 075 592</li>
                </ul>
            </div>
        </div>
    </div>
</header>
